@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    font-family: 'Pacifico', cursive;
}
body{
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.heading{
    color: white;
    font-size: 30px;
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.log-in{
    font-size: 30px;
}
.box{
    width: 100%;
    margin: 25px 0px;
    border-bottom: 2px solid white;
}
.box input{
    background: none;
    width: 74%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
}
.btn{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 20px 90px;
    padding: 10px 21px;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    font-weight: bold;
    border-color: white;
}
.btn:hover{
    opacity: 0.7;
    color: black;
    background: white;
}
.box i{
    width: 16%;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;  
}
.signup{
    font-size: 18px;
    font-weight: bold;
}
::placeholder{
    color: white;
    opacity: 0.9;
}
select{
    text-align: initial;
    width: 200px;
    padding: 7px 7px;
    margin: 0px 5px;
    background: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
#year{
    color: white;
    background-color: black;
}
#branch{
    color: white;
    background-color: black;
}

.bottom{
    display: flex;
    justify-content: center;
    color: white;
}